<footer>
  <div class="f-info">
    <h2>Having issues?</h2>
    <h2>Contact - teamkisaanseva@gmail.com</h2>
  </div>
  <style>
    h2 {
      font-size: 1.5rem;
      color: #2c3e50;
    }
  </style>
</footer>
